/* wishlist.css */

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.book-image {
    max-width: 100px;
    margin-right: 20px;
}

h3 {
    margin-bottom: 5px;
}

p {
    margin: 0;
    color: #666;
    text-align: justify;
    text-align-last: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f8f8; /* Adjust as needed */
    padding: 10px 0; /* Add padding for spacing */
    text-align: center;
}
.content {
    max-height: 400px; /* Adjust the height as needed */
    overflow-y: auto; /* Add vertical scrollbar when content overflows */
}
