{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Add your head content here -->
</head>
<body>
    <!-- Your website's content -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-content">
                        <div class="contact-info">
                            <h4>Contact Us</h4>
                            <p>Online Book Store<br>Created by Sandesh-Kun</p>
                        </div>
                        <div class="social-icons">
                            <h4>Follow Us</h4>
                            <a href="http://www.google.com" target="_blank"><i class="fab fa-google"></i></a>
                            <a href="http://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a href="http://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a href="http://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
