{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ book.title }}</title>
    <link rel="stylesheet" href="{% static 'css/styless.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="content">
        <div class="book-details">
            <h1>{{ book.title }}</h1>
            <p>by {{ book.author }}</p>
            <p>{{ book.desc }}</p>
            <img src="{{ book.image.url }}" alt="{{ book.title }} Image">

            <p>Average Rating: {{ average_rating }}</p>

            <h2>Reviews</h2>
            <ul class="reviews">
                {% for review in reviews %}
                    <li>{{ review.user.username }} - {{ review.rating }} stars - {{ review.comment }}</li>
                {% empty %}
                    <li>No reviews yet.</li>
                {% endfor %}
            </ul>

            {% if user.is_authenticated %}
                <h2>Add a Review</h2>
                <form class="add-review-form" method="post" action="{% url 'add_review' book.id %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Submit Review</button>
                </form>

                {% if user_has_purchased %}
                    {% if book.pdf_file %}
                        <h2>Read</h2>
                        <embed src="{{ book.pdf_file.url }}" type="application/pdf" width="100%" height="600px" />
                    {% else %}
                        <p>No PDF available for this book.</p>
                    {% endif %}
                {% else %}
                    <p>You need to purchase this book to access the PDF.</p>
                {% endif %}
            {% else %}
                <p>Please <a href="{% url 'login' %}">log in</a> to add a review.</p>
            {% endif %}
        </div>
    </div>
    <footer class="footer">
        {% include 'footer.html' %}
    </footer>
</body>
</html>
