<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
</head>
<body>
    <div class="content">
        <h1>Shopping Cart</h1>
        <ul>
            {% for cart_item in cart_items %}
            <li>{{ cart_item.book.title }} - Quantity: {{ cart_item.quantity }}</li>
            {% endfor %}
        </ul>
        <form action="{% url 'checkout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Place Order</button>
        </form>
    </div>
    <footer class="footer">
        {% include 'footer.html' %}
    </footer>
</body>
</html>
